nav {
    background-color: rgb(15, 139, 15);
}

title {
    color: white;
}

footer {
    background-color: rgb(15, 139, 15);
    position: sticky;
    bottom: 0;
}

.groep {
    height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 0.35;
    position: relative;
}

.foto {
    width: 100%;
}

.logo {
    position: absolute;
    top: 150px;
    right: 525px;
}

.kopteksten {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}